.main-body {
    background-color: antiquewhite;
    font-family: Comic Sans MS; margin: 0px;
    background-image: url(../img/heaven.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#overlay {
    background-color: rgb(255, 254, 254, 0.86);
}

#choir-section {
    width: 150px;
    height: 150px;
}

#choir-section:hover {
    width: 300px;
    height: 300px;
}

#choir-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50%);
}

.table {
    background-color: rgb(70, 131, 180);
          color: white;
          width: 100%;
          text-align: center;
          padding: 10px 50px 10px 50px;
          background-image: url(../img/background.jpg);
}

.church-banner {
    width: 450px"
}

.first-div {
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
}

.headingone {
    color: rgb(5, 146, 234);
}

.headingone:hover {
    color:  yellow;
}

.seconddiv {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 100px;
        margin-right: 100px;
}

.headingtwo {
    font-size: 200%; color: rgb(5, 146, 234)
}

.first-p {
    font-size: 130%;
}

.second-p {
    font-size: 200%
}

.savehuell {
    font-size: 200%;
}

.savehuell:visited {
    color: green;
}

.savehuell:link {
    color: black;
}

.savehuell:active {
    color: magenta;
}

.thirddiv {
    display: flex; justify-content: center; align-items: flex-end
}

.firstcross {
    width: 120px
}

.fourthdiv {
          text-align: center;
          list-style-position: inside;
          margin-left: 150px;
          margin-right: 150px;
          margin-top: 20px;
}

.secondcross {
    width: 120px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    font-size: 75%;
    color: rgb(160, 160, 160);
}

tr.texttable {
    color: burlywood
}